@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #121212;
  color: #252525;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color:  hsl(265, 19%, 88%);
}

button {
  font: inherit;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  padding: 5em;
  
}