.container {
  width: 32vw;
  height: 27vh;
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  top: 12%;
  left: 5%;
  border-radius: 10px;
  padding: 20px 40px;
}

.container span {
  font-size: 1.2em;
  color: #dfdbe6;
}

.container input {
  width: 25vw;
  height: 2.5em;
  padding: 0.8em;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #121212;
  color: hsl(265, 19%, 88%);
  margin-top: 10px;
}

.container input::placeholder {
  color: hsl(265, 19%, 88%);
}

.button {
  width: 50%;
}

.container button {
  width: 40%;
  height: 2.5em;
  font-size: 0.8em;
  border-radius: 5px;
  outline: none;
  border: none;
  /* margin-left: 11em; */
  margin-top: 0.7em;
  background-color: #121212;
  color: hsl(265, 19%, 88%);
}

@media (max-width: 750px) {
  .container {
    width: 60vw;
    padding: 20px 30px;
  }

  .container span {
    font-size: 1em;
  }

  .container input {
    width: 40vw;
  }
}
