.heading {
  color: hsl(265, 19%, 88%);
  font-size: 1.7em;
}

.container {
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media (max-width: 750px) {
  .heading {
    font-size: 1.1em;
  }
}
