.container {
  display: flex;
  flex-flow: row;
  margin-top: 1em;
  
}

.title {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.main {
  width: 100%;
}

.title span {
  margin: 0em 6em;
}

.title a {
  margin-top: 1em;
}


.parent {
  display: flex;
  flex-flow: row;
}