.container {
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  margin-top: 1em;
  width: 100%;
}

.container img {
  width: 240px;
}

.title {
  display: flex;
  flex-flow: column;
  width: 35vw;
}

.title span {
  color: #dfdbe6;
  width: 100%;
  font-size: 0.8em;
}

.title a {
  margin-top: 1em;
}

@media (max-width: 768px) {
  .container img {
    width: 150px;
  }

  .title span {
    font-size: 0.6em;
  }
}
