.header {
  width: 100%;
  height: 4rem;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  position: sticky;
  flex-flow: row;
  z-index: 100;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.header li {
  margin: 0 1rem;
}

.header a {
  color: hsl(265, 19%, 88%);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.header a:hover,
.header a:active,
.header a.active {
  color: hsl(265, 7%, 70%);
}

@media (min-width: 768px) {
  .header a {
    font-size: 1.25rem;
  }
}

@media (max-width: 1060px) {
  .header {
    height: 35vh;
    flex-direction: column;
    padding: 2em;
  }

  .header ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header li {
    padding: 0.5em;
  }
}

/* @media (max-width: 1060px) {
  .header {
    flex-flow: column;
    height: 35vh;
    padding: 35px;
    justify-content: center;
  }

  .header ul {
    flex-flow: column;
  }
  .header ul li {
    margin-top: 20px;
  }
} */
